# ColPali and related models
torch # For newer Nvidia GPUs (e.g. RTX 5090) use uv pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128
colpali_engine
transformers

# HuggingFace ecosystem
datasets
huggingface_hub[hf_transfer]

# Vector database
qdrant-client

# OpenAI integration
openai
pillow

# Object Storage
minio

# Utilities
tqdm
stamina
requests
python-dotenv
pypdf
ruff
scipy

# PDF to Image Conversion
# Note: Requires poppler to be installed on the system.
# Windows: https://github.com/oschwartz10612/poppler-windows/releases/
# Mac (via Homebrew): brew install poppler
# Linux (e.g., Ubuntu): sudo apt-get install poppler-utils
pdf2image
